{% extends "base.html" %}
{% load static %}
{% block css_styles %}
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css_styles %}
{% block content %}
    {% include "components/header_component.html" %}
    <div class="dashboard-container">
        <main class="dashboard-main">
            <header class="main-header">
                <div class="user-welcome">
                    <h2>Cześć, {{ user.username }}!</h2>
                </div>
            </header>
            <section class="favorites-section">
                <h2>Twoje zapisane oferty: </h2>
                <div class="offers-container">
                    {% for favorite_offer in favorite_offers %}
                        <div class="card" id="{{ favorite_offer.offer_id }}">
                        <div class="heart-icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <a href="{{ favorite_offer.link }}" target="_blank">
                            <div class="card-image">
                                <img src={{ favorite_offer.image_link }}>
                            </div>
                            <div class="card-info">
                                <div class="card-money">
                                    <p class="card-money-general"><span
                                            class="card-money-price">{{ favorite_offer.price|floatformat:"0" }}</span>/miesięcznie (Czynsz: <span
                                            class="card-money-rent">{{ favorite_offer.rent|floatformat:"0" }}</span>)</p>
                                </div>
                                <div class="card-address">
                                    <p>{{ favorite_offer.address }}</p>
                                </div>
                                <div class="card-details">
                                    <span class="card-details-info">Pokoje: {{ favorite_offer.rooms }} • {{ favorite_offer.surface|floatformat:"0" }}m²</span>
                                </div>
                            </div>
                            <div class="card-website-info">
                                <span class="card-website-name">{{ favorite_offer.website }}</span>
                            </div>
                        </a>
                        </div>
                    {% endfor %}
    </div>
    </section>
    </main>
    </div>
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    {% include "components/footer_component.html" %}
    <script src="{% static "js/dashboard_scripts.js" %}"></script>
{% endblock %}