{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <div class="home-container">
            {% include "components/header_component.html" %}
            <div class="home-hero">
                <div class="home-hero1">
                    <div class="home-container1">
                        <h1 class="home-hero-heading heading1">
                            Wszystkie oferty w trójmieście na wyciągnięcie ręki!
                        </h1>
                        <div class="home-hero-dropdowns-container">
                            <select class="town-selector">
                                <option value="" disabled selected>Wybierz miasto</option>
                                <option value="Gdańsk">Gdańsk</option>
                                <option value="Gdynia">Gdynia</option>
                                <option value="Sopot">Sopot</option>
                            </select>
                            <select class="district-selector hidden">
                                <option value="" disabled selected>Wybierz dzielnice</option>
                            </select>
                            <button class="get-offers-button hidden">Sprawdź oferty</button>
                        </div>
                    </div>
                </div>
            </div>
            {% include "components/footer_component.html" %}
        </div>
    </div>
    <script
            data-section-id="navbar"
            src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock content %}