{% extends "base.html" %}
{% load static %}

{% block css_styles %}
    <link href="{% static "styles/offers_page_styles.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css_styles %}

{% block content %}
    {% include "components/header_component.html" %}
    <div class="wrapper">
        <div class="container">
            <div class="info-container">
                <p class="info-overview">xxx pokojów do wynajęcia w Dzielnica, Miasto</p>
                <div class="info-settings-container">
                    <select class="info-sorting">
                        <option disabled selected>Grupuj</option>
                        <option value="default">Domyślnie</option>
                        <option value="desc">Cena malejąco</option>
                        <option value="asc">Cena rosnąco</option>
                        <option value="rent-desc">Czynsz malejąco</option>
                        <option value="rent-asc">Czynsz rosnąco</option>
                    </select>
                </div>
            </div>
            <div class="content-container">
                <div class="settings-container">
                    <div class="settings-price-container">
                        <div class="settings-price-min">
                                <p class="price-label">Cena minimalna</p>
                            <div class="input-prefix">
                                <span class="price-min-prefix">zł</span>
                                <input type="text" class="price-min-input">
                            </div>
                         </div>
                        <div class="settings-price-max">
                            <p class="price-label">Cena maksymalna</p>
                            <div class="input-prefix">
                                <span class="price-min-prefix">zł</span>
                                <input type="text" class="price-max-input">
                            </div>
                        </div>
                    </div>
                    <div class="settings-size-container">
                        <p class="size-label">Powierzchnia: </p>
                        <ul class="size-list">
                            <li class="size-list-el"><input class="size-input" type="radio" name="size-input" value="15">15 m2 lub więcej</li>
                            <li class="size-list-el"><input class="size-input" type="radio" name="size-input" value="30">30 m2 lub więcej</li>
                            <li class="size-list-el"><input class="size-input" type="radio" name="size-input" value="45">45 m2 lub więcej</li>
                            <li class="size-list-el"><input class="size-input" type="radio" name="size-input" value="60">60 m2 lub więcej</li>
                        </ul>
                    </div>
                </div>
                <div class="offers-container">
                <div class="hidden authentication" data-authenticated="{{ user.is_authenticated }}"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    {% include "components/footer_component.html" %}
    <script src="{% static "js/offers_page.js" %}"></script>
{% endblock content %}